<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Faculty Analysis{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .message-fade-out {
            animation: fadeOut 1s forwards;
        }
        @keyframes fadeOut {
            from { opacity: 1; }
            to { opacity: 0; }
        }
    </style>
</head>
<body class="flex flex-col min-h-screen">
    {% include 'header.html' %}
    
    <main class="flex-grow container mx-auto px-6 py-8 bg-gradient-to-b from-yellow-300 to-yellow-100">
        {% if messages %}
            <div id="message-container" class="fixed top-4 right-4 z-50">
                {% for message in messages %}
                    <div class="bg-{% if message.tags == 'error' %}red{% elif message.tags == 'success' %}green{% else %}blue{% endif %}-100 border border-{% if message.tags == 'error' %}red{% elif message.tags == 'success' %}green{% else %}blue{% endif %}-400 text-{% if message.tags == 'error' %}red{% elif message.tags == 'success' %}green{% else %}blue{% endif %}-700 px-4 py-3 rounded relative mb-2 shadow-md" role="alert">
                        <span class="block sm:inline">{{ message }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const messageContainer = document.getElementById('message-container');
            if (messageContainer) {
                const messages = messageContainer.children;
                
                for (let i = 0; i < messages.length; i++) {
                    const message = messages[i];
                    
                    // Set a timeout to start fading out the message after 4 seconds
                    setTimeout(() => {
                        message.classList.add('message-fade-out');
                    }, 4000);

                    // Remove the message from the DOM after it has faded out
                    setTimeout(() => {
                        message.remove();
                        if (messageContainer.children.length === 0) {
                            messageContainer.remove();
                        }
                    }, 5000);
                }
            }
        });
    </script>

    {% block extra_js %}
    {% endblock %}
</body>
</html>